## ⚙️ Configuración del entorno

El proyecto requiere un archivo `.env` para funcionar correctamente.

1. Crear un archivo `.env` en la raíz del proyecto basándose en el archivo `.env.example`.

2. Definir un valor para la variable `SESSION_SECRET`.  
Ejemplo:

```env
PORT=3500
DB_HOST=localhost
DB_NAME=giftcards_db
DB_USER=root
DB_PASSWORD=
SESSION_SECRET=mi_clave_secreta